* {
    margin: 0;
    padding: 0;
}

html, body {
    display: grid;
    font-family: "Averta-Regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #2e4a5f;
}
